<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Yo, <%= @user.first_name %></h1>
    <p>
      <%= @area.title %> says Goodbye
    </p>
    <p>You were here from <%= @area_watcher.first_coord_time_stamp %> till <%= @area_watcher.last_coord_time_stamp %> </p>
    <br>
    <p>Which is <%= time_ago_in_words(@area_watcher.last_coord_time_stamp - @area_watcher.first_coord_time_stamp) %> </p>
    <p>Thanks for comming and have a great day!</p>
  </body>
</html>