<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @user.id.to_s %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @user.try(:avatar) || "/assets/images/default-image.png", size: 50 %>
</p>

<% unless @user == current_user && user_signed_in? %>
follow
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
