<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @user.id.to_s %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @user.try(:avatar) || "/assets/images/default-image.png", size: 50 %>
</p>

<p>Area Watchers</p>

<p>
  <strong><%= @user.first_name %> Visitied:</strong>
  <% @area_watchers.each do |watcher| %>
    <% if watcher.finished %>
      <% if watcher.visit_type == "continued_visit" %>
        <p>This was a continued stay. </p>
        <p><%= watcher.user.first_name %></p>
        <p>
          <%= watcher.created_at %>
          <!-- <script>
            var createdAt = new Date('<%= watcher.created_at %>');
            document.write(createdAt.toString());
          </script> -->
        </p>
      <% elsif watcher.visit_type == "single_visit" %>
        <p>This was a visit. </p>
        <p><%= watcher.user.first_name %></p>
        <p>
          <%= watcher.created_at %>
          <!-- <script>
            var createdAt = new Date('<%= watcher.created_at %>');
            document.write(createdAt.toString());
          </script> -->
        </p>
      <% else %>
        <p><%= watcher.user.first_name %></p>
        <p>From: <%= watcher.first_coord_time_stamp.strftime "%m-%d-%Y %I:%M:%S" %></p>
        <p>Till: <%= watcher.last_coord_time_stamp.strftime "%m-%d-%Y %I:%M:%S" %></p>
        <% t = watcher.last_coord_time_stamp.to_i - watcher.first_coord_time_stamp.to_i %>
        <% mm, ss = t.divmod(60) %>
        <% hh, mm = mm.divmod(60) %>
        <% dd, hh = hh.divmod(24) %>
        <p><%= "%d days, %d hours, %d minutes and %d seconds" % [dd, hh, mm, ss] %></p>
      <% end %>
      <br>
    <% end %>
  <% end %>
</p>

<%= @label_count %> <br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
