<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @area.title %>
</p>

<p>
  <strong>Area Level:</strong>
  <%= @area.level %>
</p>

<p>
  <strong>Users Visitied:</strong>
  <% @area.area_watchers.each do |watcher| %>
    <% if watcher.done %>
      <% if watcher.vist == true %>
        This was a vist. 
      <% end %>
      <p><%= watcher.user.first_name %></p>
      <p>Time:</p>
      <p>From: <%= watcher.first_coord_time_stamp.strftime "%m-%d-%Y %I:%M:%S" %></p>
      <p>Till: <%= watcher.last_coord_time_stamp.strftime "%m-%d-%Y %I:%M:%S" %></p>
      <% t = watcher.last_coord_time_stamp.to_i - watcher.first_coord_time_stamp.to_i %>
      <% mm, ss = t.divmod(60) %>
      <% hh, mm = mm.divmod(60) %>
      <% dd, hh = hh.divmod(24) %>
      <p><%= puts "%d days, %d hours, %d minutes and %d seconds" % [dd, hh, mm, ss]   %></p>
      <br>
    <% end %>
  <% end %>
</p>

<!-- puts "%d days, %d hours, %d minutes and %d seconds" % [dd, hh, mm, ss] -->