<p id="notice"><%= notice %></p>

<h1>Listing Areas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Dot Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area[:title] %></td>
        <td><%= area[:level] %></td>
        <td><%= area[:dot_count] %></td>
        <td><%= link_to 'Show', area_path(area[:id]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_area_path %>
