<% if signed_in? %>
  <h1>Listing posts</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>post name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= image_tag post.attachment.url || "default-image.png", size: "300x300" %>
          </td>
          <td><%= link_to 'Show', post %></td>
          <td><%= post.caption if post.caption %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New post', new_post_path %>
<% else %>
<style>
  body {
    background-color: #222222;
  }
  .image {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
  .main {
    background-image: url(<%= asset_path "delite-banner"%>);
    background-size: 60% 75%;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    margin: 15px;
    max-width: 100%;
    height: 400px;
    position: relative;
  }
  .main .links {
    position: inherit;
    text-align: center;
    bottom: -100%;
  }
  .main .link-styles {
    text-decoration: none;
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .btn-info {
    color: #00eebc;
    border-color: #00eebc;
    font-family: sans-serif;
  }
</style>
  <%#= image_tag "delite-banner.png", class: "image" %>  
  <div class="main">
    <div class="links">
      <%=  link_to 'Log In', new_user_session_path, class: "link-styles btn btn-info" %>
    </div>
  </div>
<% end %>
