<p id="notice"><%= notice %></p>

<p>
  <strong>post name:</strong>
  <%= @post.original_filename %>
</p>

<p>
  <strong>Id:</strong>
  <%= @post.id %>
</p>

<p>
  <strong>post:</strong>
  <%# binding.pry %>
  <%= image_tag @post.attachment %>
</p>

<%= link_to 'Back', posts_path %>
