<p id="notice"><%= notice %></p>

<p>
  <strong>image name:</strong>
  <%= @image.original_filename %>
</p>

<p>
  <strong>Id:</strong>
  <%= @image.id %>
</p>

<p>
  <strong>image:</strong>
  <%= image_tag @image.attachment.url %>
</p>

<%= link_to 'Back', images_path %>
