<!DOCTYPE html>
<html>
<head>
  <title>Veritas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
<% if user_signed_in? %>
<%= link_to 'Friend List', "/users/#{current_user.id}/friend_list" %>
<%= link_to 'Accept Requests', "/users/#{current_user.id}/accept_requests" %>
<%= link_to 'Edit profile', edit_user_registration_path %>
<%= link_to 'signout', destroy_user_session_path(current_user), method: :delete %>
<% else %>
<%=  link_to 'sign up', new_user_registration_path %>
<%=  link_to 'sign in', new_user_session_path %>
<% end %>

<%= form_tag search_path, method: 'get' do %>
  <button type="submit" style="color: #00eebc;">Go</button>
  <%= text_field_tag :search, params[:search], placeholder: "Users" %>
<% end %>
<%= yield %>

</body>
</html>
