<!DOCTYPE html>
<html>
<head>
  <title>Veritas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" media="all" href="/assets/application-0723cb9a2dd5a514d954f70e0fe0b89f6f9f1ae3a375c182f43b5f2b57e9c869.css" data-turbolinks-track="true" /> -->
  <!-- <script src="/assets/application-db133875237de20b2833dd6eba78434527ca94606209bcd255a075693494ff51.js" data-turbolinks-track="true"></script> -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
<% if user_signed_in? %>
	<%= link_to 'Post List', "/" %>
	<%= link_to 'User List', "/users" %>
	<%= link_to 'Edit profile', edit_user_registration_path %>
	<%= link_to 'map', "/map" %>
	<%= link_to 'new areas', "/areas/new" %>
	<%= link_to 'area list', "/areas" %>
	<%= link_to 'signout', destroy_user_session_path(current_user), method: :delete %>
	<%= form_tag search_path, method: 'get' do %>
	  <button type="submit" style="color: #00eebc;">Go</button>
	  <%= text_field_tag :search, params[:search], placeholder: "Users" %>
	<% end %>
<% end %>

<%= yield %>

</body>
</html>
